<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenLayers</title>
    <link rel="stylesheet" href="static/openlayers/v6.5.0-dist/ol.css">
    <style>
      .map {
        height: 97vh;
        width: 99vw;
      }
    </style>
  </head>
  <body>
	<button id="menu_town" style="float:left">Town</button>
	<div id="mouse-position" style="float:left"></div>
	<div id="zoomlv" style="float:right"></div>
    <div id="js-map" class='map'></div>
	
	<div id="search_div" style=" visibility:hidden; height: 12vh;width: 20vW; background: white; position:absolute;top:10%;left:1%;z-index:2;">
			<div style="padding-bottom:5%">
				<h4><span class="badge" style=";font-size:30px;margin-left:2%;margin-bottom:2%">地區篩選</span><br/>
					<div id="area_list" style="width:100px;" ></div></h4>
			</div>
			<button id="menu_town_close">關閉</button>
	</div>
	
	<script type='text/javascript' src='static/jquery-1.9.1.js'></script>
	
    <script src="static/openlayers/v6.5.0-dist/ol.js"></script>
    <script type="module" src="static/ol_main.js"></script>
	<script type="module" src="static/town_menu.js"></script>
<script>

</script>
  </body>
</html>
