<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenLayers</title>
    <link rel="stylesheet" href="static/openlayers/v6.5.0-dist/ol.css">
    <style>
      .map {
        height: 97vh;
        width: 99vw;
      }
    </style>
  </head>
  <body>
	<div id="mouse-position" style="float:left"></div>
	<div id="zoomlv" style="float:right"></div>
    <div id="js-map" class='map'></div>
    <script src="static/openlayers/v6.5.0-dist/ol.js"></script>
    <script type = 'module' src="static/ol_main.js"></script>

  </body>
</html>
