<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenLayers</title>
    <link rel="stylesheet" href="static/openlayers/v6.5.0-dist/ol.css">
    <style>
      .map {
        height: 97vh;
        width: 99vw;
      }
    </style>
  </head>
  <body>
	<button id="menu_town" style="float:left">Town</button>
	<div id="mouse-position" style="float:left"></div>
	<div id="zoomlv" style="float:right"></div>
    <div id="js-map" class='map'></div>
	
	<div id="search_div" style=" visibility:hidden; height: 12vh;width: 20vW; background: white; position:absolute;top:10%;left:1%;z-index:2;">
			<div style="padding-bottom:5%">
				<h4><span class="badge" style=";font-size:30px;margin-left:2%;margin-bottom:2%">地區篩選</span><br/>
					<div id="area_list" style="width:100px;" ></div></h4>
			</div>
			<button id="menu_town_close">關閉</button>
	</div>
	
	<script type='text/javascript' src='static/jquery-1.9.1.js'></script>
	
    <script src="static/openlayers/v6.5.0-dist/ol.js"></script>
    <script src="static/ol_main.js"></script>
<script>
	var response_town_list;
	var response_town_polygon;

	var html_select = '<select id="select_town" style="width:200px;" value="-1" ><option label="請選擇鄉鎮"></option>'
	let xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function(){
		if (this.readyState == 4 && this.status == 200) {
			response_town_list = JSON.parse(this.responseText);           
			
			Object.getOwnPropertyNames(response_town_list).map(function(x){
				html_select = html_select + "<optgroup label= '"+x+"'>"
				Object.getOwnPropertyNames(response_town_list[x]).map(function(y){
					html_select = html_select + "<option value= '"+response_town_list[x][y]+"'>" + y + "</option>"
				})
				html_select = html_select + "</optgroup>"
			})				
			html_select = html_select + '</select>';
			$("#area_list").append(html_select);
			
			$("#select_town").on('change',function() {
				var value = $(this).val();
				let xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function(){
					if (this.readyState == 4 && this.status == 200) {
						response_town_polygon = JSON.parse(this.responseText);
						var feature = new ol.format.GeoJSON().readFeature(response_town_polygon);
						vectorSource.clear();
						vectorSource.addFeature(feature);
						console.log(feature)

						
					}else if(this.readyState==4 && this.status == 500){
						alert("查詢錯誤");
					}
				};
				xhttp.open("GET","http://127.0.0.1:5000/feature/town/"+value , true);    
				xhttp.send();
			});
			
		}else if(this.readyState==4 && this.status == 500){
			alert("查詢錯誤");
		}
	};
	xhttp.open("GET","http://127.0.0.1:5000/menu/town", true);    
	xhttp.send();




	$("#menu_town").click(function() {
			$("#search_div").css("visibility","visible");
	});
	$("#menu_town_close").click(function() {
			$("#search_div").css("visibility","hidden");
	});

</script>
  </body>
</html>
